In [1]:
import numpy as np
import pandas as pd

In [201]:
"""Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv"""
file = pd.read_csv("2017_jun_final.csv")

In [11]:
"""Прочитайте отриману таблицю, використовуючи метод head"""
file.head()

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харьков,до 10 человек,...,True,ниже среднего,"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,меньше 3 месяцев,меньше 3 месяцев,430,130,Харьков,свыше 1000 человек,...,True,выше среднего,Веб-разработка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Киев,до 1000 человек,...,False,средний,"Веб-разработка,Корпоративные системы",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одесса,до 200 человек,...,False,ниже среднего,"Desktop Applications,Веб-разработка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 и более лет,0.5,4500,500,Другой,до 10 человек,...,False,средний,"Desktop Applications,Веб-разработка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [23]:
"""Визначте розмір таблиці за допомогою методу shape"""
rows, cols = file.shape
print(f"rows: {rows}, cols: {cols}")

rows: 8704, cols: 25

In [25]:
"""Визначте типи всіх стовпців за допомогою dataframe.dtypes"""
file.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [204]:
"""Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)"""
(file.isnull().sum()/rows * 100).round(2)

N                                    0.00
Должность                            0.00
Язык.программирования               44.23
Специализация                       82.94
Общий.опыт.работы                    0.00
Опыт.работы.на.текущем.месте         0.00
Зарплата.в.месяц                     0.00
Изменение.зарплаты.за.12.месяцев     0.00
Город                                0.00
Размер.компании                      0.00
Тип.компании                         0.00
Пол                                  0.00
Возраст                              0.00
Образование                          0.00
Университет                          4.11
Еще.студент                          0.00
Уровень.английского                  0.00
Предметная.область                   2.56
Дата.заполнения                      0.00
User.Agent                           0.00
exp                                  0.00
current_job_exp                      0.00
salary                               0.00
Валюта                              99.89
cls                                 18.08
dtype: float64

In [213]:
"""Видаліть усі стовпці з пропусками, крім стовпця Язык.программирования"""
file.dropna(axis="columns", inplace=True, subset=[col for col in file.columns if col != "Язык.программирования"])

KeyError: ['N', 'Должность', 'Специализация', 'Общий.опыт.работы', 'Опыт.работы.на.текущем.месте', 'Зарплата.в.месяц', 'Изменение.зарплаты.за.12.месяцев', 'Город', 'Размер.компании', 'Тип.компании', 'Пол', 'Возраст', 'Образование', 'Университет', 'Еще.студент', 'Уровень.английского', 'Предметная.область', 'Дата.заполнения', 'User.Agent', 'exp', 'current_job_exp', 'salary', 'Валюта', 'cls']

In [210]:
"""Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець 'Мова.програмування
'"""
file.isnull().sum()

N                                      0
Должность                              0
Язык.программирования               3850
Специализация                       7219
Общий.опыт.работы                      0
Опыт.работы.на.текущем.месте           0
Зарплата.в.месяц                       0
Изменение.зарплаты.за.12.месяцев       0
Город                                  0
Размер.компании                        0
Тип.компании                           0
Пол                                    0
Возраст                                0
Образование                            0
Университет                          358
Еще.студент                            0
Уровень.английского                    0
Предметная.область                   223
Дата.заполнения                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64

In [214]:
"""Видаліть усі рядки у вихідній таблиці за допомогою методу dropna"""
file.dropna(inplace=True)

In [215]:
"""Визначте новий розмір таблиці за допомогою методу shape"""
file.shape

(0, 25)

In [196]:
"""Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python"""
# python_data = file.query('Язык.программирования == Python') !!!!
python_data = file.loc[file['Язык.программирования'] == "Python"]
python_data

,N,Должность,Язык.программирования,Специализация,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,...,Еще.студент,Уровень.английского,Предметная.область,Дата.заполнения,User.Agent,exp,current_job_exp,salary,Валюта,cls
12,13,Software Engineer,Python,NaN,1,меньше 3 месяцев,800,200,Киев,до 50 человек,...,False,ниже среднего,"Веб-разработка,Другое",12/06/2017 13:05:54,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,1.0,0.0,800,NaN,DEV
68,69,Software Engineer,Python,NaN,1.5,0.5,900,900,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:11:17,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,1.5,0.5,900,NaN,DEV
87,88,Junior Software Engineer,Python,NaN,0.5,0.5,600,0,Киев,до 10 человек,...,True,выше среднего,"Веб-разработка,eCommerce",12/06/2017 13:12:25,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,0.5,0.5,600,NaN,DEV
114,115,Junior Software Engineer,Python,NaN,1.5,0.5,685,250,Киев,до 1000 человек,...,False,средний,Другое,12/06/2017 13:14:52,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.5,0.5,685,NaN,DEV
143,144,Junior Software Engineer,Python,NaN,1,1,750,250,Киев,до 10 человек,...,True,выше среднего,Веб-разработка,12/06/2017 13:19:10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,1.0,750,NaN,DEV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8546,8547,Software Engineer,Python,NaN,5,1,2000,800,Запорожье,до 50 человек,...,False,средний,Веб-разработка,10/07/2017 14:11:26,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_5...,5.0,1.0,2000,NaN,DEV
8625,8626,Software Engineer,Python,NaN,4,1,1750,0,Киев,свыше 1000 человек,...,False,средний,Веб-разработка,11/07/2017 16:15:40,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,4.0,1.0,1750,NaN,DEV
8635,8636,Senior Software Engineer,Python,NaN,10 и более лет,меньше 3 месяцев,4000,1300,Удаленно,до 10 человек,...,False,выше среднего,Веб-разработка,11/07/2017 17:51:36,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,10.0,0.0,4000,NaN,DEV
8673,8674,Junior Software Engineer,Python,NaN,0.5,0.5,350,50,Киев,до 50 человек,...,False,средний,Веб-разработка,12/07/2017 09:37:16,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....,0.5,0.5,350,NaN,DEV
8695,8696,Software Engineer,Python,NaN,1,0.5,1500,1000,Киев,до 10 человек,...,False,средний,"Финансы и банки,eCommerce",12/07/2017 14:39:21,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,1.0,0.5,1500,NaN,DEV

In [185]:
"""Визначте розмір таблиці python_data за допомогою методу shape"""
python_data.shape

(207, 25)

In [219]:
"""Використовуючи метод groupby, виконайте групування за стовпчиком "Должность"""
grouped_by_position = python_data.groupby(by="Должность")

In [223]:
"""Створіть новий DataFrame, де для згрупованих даних за стовпчиком 'Посада', виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику 'Зарплата.в.місяць'"""
position_min_max = grouped_by_position.agg({'Зарплата.в.месяц': ['min', 'max']})
position_min_max

                         Зарплата.в.месяц
                                      min   max
Должность
Junior Software Engineer              100  1250
Senior Software Engineer             1300  9200
Software Engineer                     500  5400
System Architect                     3000  5000
Technical Lead                       1425  6200

In [231]:
'''Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"'''
def fill_avg_salary(salary):
    return salary.mean()
avg = grouped_by_position.agg('Зарплата.в.месяц').apply(fill_avg_salary).round(2)
position_min_max["avg"] = avg

In [232]:
"""Створіть описову статистику за допомогою методу describe для нового стовпчика."""
position_min_max['avg'].describe()

count       5.000000
mean     2582.584000
std      1387.256855
min       560.840000
25%      1799.070000
50%      3165.910000
75%      3387.100000
max      4000.000000
Name: avg, dtype: float64

In [233]:
"""Збережіть отриману таблицю в CSV файл"""
new_file = position_min_max.to_csv('average_salary_py_dev_in_2017.csv')